<!DOCTYPE html>
<html>
	<head>
		<title>Hire A Sound Guy!</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
				<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<style>

		</style>
	</head>
	<body>
		<div class="container">
			<div class="title">
				<h1>HIRE A SOUND GUY . COM</h1>
			</div>
			<div>
				<form class="mainform">
					<select name="usertype" class="mainselect">
						<option value="venue">I need an audio engineer</option>
						<option value="engineer">I am an audio engineer</option>
					</select>
					<span class="nearlocation">
						<span>near</span>
						<input type="text" placeholder="Shoreline, Wa" class="mainlocation">
						<span class="mainsubmit">
							<a [routerLink]="['/home']" type="submit" class="btn btn-primary btn-custom">Submit</a>
						</span>
					</span>
				</form>
			</div>
		</div>
	</body>
</html>
